/* basePastel.css */
:root {
    --bg: #1f3151;
    --panel: #12161e;
    --panel-alt: #171c26;
    --border: #232a35;
    --text: #eef0f2;
    --muted: #8d96a3;
    --accent: #ff8a3d;
    --accent-soft: rgba(255, 138, 61, 0.12);
    --mono: 'IBM Plex Mono', monospace;
    --display: 'Space Grotesk', sans-serif;

    /* FOR CODEBLOCKS: */
    --keyword: #2f86e4;
    --type: #60ea9b;
    --function: #ece794;
    --variable: #89ecec;
    --string: #f4ab7d;
    --comment: #a6ed77;
    --control: #de9ffa;

}

body {
    background: var(--bg);
    color: var(--text);
    font-family: var(--display);
}
/* Any universal header, footer, or link styles go here too */